{%extends "base.html"%}

{%block title%} Register Customer {%endblock%}

{%block style%}
  <style>

    body {
      background-color: antiquewhite;
    }

  </style>
{%endblock%}

{%block content%} 

<div class="container d-flex justify-content-center min-vh-100 align-items-center">
  <div class="p-4 shadow rounded w-25" style="background-color: #fdce8c">
    <form action="{{ url_for("register_customer")}}" method="post">
        <h4 class="mb-4 text-center">Register as customer</h4>
        <!-- First name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="firstname" name="fname" class="form-control" placeholder="First name" />
          </div>
  
        <!-- Last name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="lastname" name="lname" class="form-control" placeholder="Last name" />
          </div>
  
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="email" name="mail" class="form-control" placeholder="Email" />
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="password" name="pass" class="form-control" placeholder="Password"/>
        </div>
      
      
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100 mb-4">Register</button>
      </form>

  </div>
</div>


{%endblock%}

