{%extends "base.html"%}

{%block title%} Category Statistics {%endblock%}


    {%block style%}
    <style>
        body {
            background-color: rgb(251, 251, 191);
        }
    
    </style>
    {%endblock%}
 
{%block content%}
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class="w-75 p-4 shadow rounded" style="background-color: rgb(253, 253, 99);">
    <table class="table table-bordered">

        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th scope="row">
                    {{loop.index}}
                </th>
                <td>
                    <p>{{category.name}}</p>
                </td>
                <td>
                     {{category.sold}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{%endblock%}