{%extends "base_customer.html" %}


{%block title%}Confirm Delivery{%endblock%}

{%block style%}
<style>
    body {
        background-color: antiquewhite;
    }
</style> 

{%endblock%}

{%block content%}

<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class="w-75 p-4 shadow rounded" style="background-color: #fdce8c;">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <form action="{{ url_for("delivered")}}" method="post">
                    <th scope="row">

                            {{order.id}}
                            <input type="hidden" name="orderId" value="{{order.id}}" />

                    </th>   
                    <td>{{order.timestamp.strftime("%Y:%m:%d %H:%M:%S")}}</td>
                    <td>{{order.status}}</td>
                    {%if order.status != "DELIVERED": %}
                        <td>
                             <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Complete Delivery</button>
                             </div>
                        </td>
                    {%else%}
                        <td></td>
                    {%endif%}
                        </form>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>
</div>

{%endblock%}

