{%extends "base_courier.html" %}

{%block title%}Orders to deliver{%endblock%}

{%block style%}
    <style>
  body {
      background-color:rgb(192, 251, 230);
    }
    </style>

{%endblock%}

{%block content%}
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class=" w-75 p-4 shadow rounded" style="background-color:  rgb(104, 245, 198);">
    <table class="table table-bordered">
        <h4 class="mb-4 text-center">Orders To Deliver</h1>
        <thead>
            <tr>
                <th scope="col" >Order Id</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">
                    {{order.id}}
                </th>
                <td>
                    {{order.email}}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    </div>
</div>


{%endblock%}

