{%extends "base_courier.html" %}

{%block title%}Orders to deliver{%endblock%}

{%block style%}
    <style>
  body {
      background-color:rgb(192, 251, 230);
    }
    </style>

{%endblock%}

{%block content%}
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class=" w-75 p-4 shadow rounded" style="background-color:  rgb(104, 245, 198);">
        <table class="table table-bordered">
        <h4 class="mb-4 text-center">Orders To pick up</h1>
            <thead>
                <tr>
                    <th scope="col" >Order Id</th>
                    <th scope="col">User</th>
                    <th scope="col text-center">Pick up order</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <form action="{{ url_for("pick_up_order")}}" method="post">
                    <th scope="row">
                        {{order.id}}
                        <input type="hidden" name="orderId" value="{{order.id}}"/>
                    </th>
                    <td>
                        {{order.email}}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="w-50 btn btn-warning btn-sm">Pick Order</button>

                        </div>
                    </td>
                    </form>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        </div>
</div>

{%endblock%}
