<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <style>
        body {
            background-color:antiquewhite;
        }


    </style>

</head>
<body>
    <div class="container mt-4">
        <table class="table table-bordered">
            <h1>Status of Orders</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">
                        Order {{loop.index}}
                    </th>
                    <td>
                        {{order.price}}
                    </td>
                    <td>
                        {{order.status}}
                    </td>
                    <td>
                        {{order.timestamp.strftime("%Y:%m:%d %H:%M:%S")}}
                    </td>  
                </tr>

                <tr>
                    <td colspan="4">
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Categories</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in order.products %}
                                        <tr>
                                        <td>{{ product.name }}</td>
                                        <td>
                                            {% for category in product.categories %}
                                                | {{category}} |
                                            {%endfor%}
                                        </td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{ product.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                </tr>
                {% endfor %}
                

            </tbody>
        </table>

        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>

