{%extends "base_customer.html" %}


{%block title%}Confirm Delivery{%endblock%}

{%block style%}
<style>
    body {
        background-color: antiquewhite;
    }
</style> 

{%endblock%}

{%block content%}
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class=" w-75 p-4 shadow rounded" style="background-color: #fdce8c;">
        <table class="table table-bordered">
            <h4 class="mb-4 text-center">Status of orders</h1>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Timestamp</th>
                </tr>

                <tr>
                    <th scope="row">
                        {{loop.index}}
                    </th>
                    <td>
                        {{order.price}}
                    </td>
                    <td>
                        {{order.status}}
                    </td>
                    <td>
                        {{order.timestamp.strftime("%Y:%m:%d %H:%M:%S")}}
                    </td>  
                </tr>
                <tr>
                    <th class="text-center" style="background-color: beige;" colspan="4">
                        <h4 class="mb-4 mt-4">Products</h4>
                    </th>
                </tr>

                <tr>
                    <td colspan="4">
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Categories</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in order.products %}
                                        <tr>
                                        <td>{{ product.name }}</td>
                                        <td>
                                            {% for category in product.categories %}
                                                | {{category}} |
                                            {%endfor%}
                                        </td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{ product.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: beige;">

                    </td>
                </tr>
                {% endfor %}
                

            </tbody>
        </table>

        </div>
</div>

{%endblock%}

