{%extends "base_owner.html" %}

{%block title%} Update {%endblock%} 

{%block style%}
    <style>
        body {
            background-color: rgb(251, 251, 191);
        }
    </style>
{%endblock%}

{%block content%}
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class="p-4 shadow rounded" style="background-color: rgb(253, 253, 99);">
        
        <form action="{{ url_for("update")}}" method="post" enctype="multipart/form-data">
            <!-- Email input -->
            <div class="mb-3">
                <label for="formFile" class="form-label">Please add file with new Products.</label>
                <input class="form-control" type="file" name="file" id="formFile" accept=".csv">
            </div>
            <!-- Submit button -->
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success w-100 mb-4">Update</button>
          </form>
    </div>

</div>

{%endblock%}